<!-- Footer 6 -->

<footer class="footer_6 bg-light pt-80 pb-80 text-center text-sm-left">
  <div class="container px-xl-0">
    <div class="row">
      <div class="mb-50 col-lg-2 col-md-3 col-6 links" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
        <div class="mb-30 f-18 medium title">About</div>
        <div><a href="#" class="mb-20 link color-main">Features</a></div>
        <div><a href="#" class="mb-20 link color-main">Templates</a></div>
        <div><a href="#" class="mb-20 link color-main">Integrations</a></div>
        <div><a href="#" class="mb-20 link color-main">Team</a></div>
      </div>
      <div class="mb-50 col-lg-2 col-md-3 col-6 links" data-aos-duration="300" data-aos="fade-down" data-aos-delay="100">
        <div class="mb-30 f-18 medium title">Help</div>
        <div><a href="#" class="mb-20 link color-main">Support</a></div>
        <div><a href="#" class="mb-20 link color-main">Help Center</a></div>
        <div><a href="#" class="mb-20 link color-main">Contact Us</a></div>
      </div>
      <div class="mb-50 col-lg-2 col-md-3 col-6 links" data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">
        <div class="mb-30 f-18 medium title">Resources</div>
        <div><a href="#" class="mb-20 link color-main">Ebooks</a></div>
        <div><a href="#" class="mb-20 link color-main">Infographics</a></div>
        <div><a href="#" class="mb-20 link color-main">Tools</a></div>
        <div><a href="#" class="mb-20 link color-main">Videos</a></div>
        <div><a href="#" class="mb-20 link color-main">Podcasts</a></div>
      </div>
      <div class="mb-50 col-lg-2 col-md-3 col-6 links" data-aos-duration="300" data-aos="fade-down" data-aos-delay="250">
        <div class="mb-30 f-18 medium title">Commercial</div>
        <div><a href="#" class="mb-20 link color-main">Why Lander</a></div>
        <div><a href="#" class="mb-20 link color-main">Prices</a></div>
        <div><a href="#" class="mb-20 link color-main">Custom Template</a></div>
      </div>
      
      <div class="col-lg-2"></div>
      
      <div class="mb-50 col-lg-2 col-md-4" data-aos-duration="300" data-aos="fade-down" data-aos-delay="300">
        <div class="socials">
          <div class="mb-30 f-18 medium title">Stay Tuned</div>
          <a href="#" class="f-18 link color-main mr-15"><i class="fab fa-twitter"></i></a>
          <a href="#" class="f-18 link color-main mx-15"><i class="fab fa-facebook-square"></i></a>
          <a href="#" class="f-18 link color-main ml-15"><i class="fab fa-google-plus-g"></i></a>
        </div>
      </div>
    </div>
    <div class="mt-25 mb-75 hr h-2 bg-gray op-5" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0"></div>
    <div class="row">
      <div class="mb-30 mb-lg-0 col-lg-3 col-sm-6 order-0" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
        <a href="#" class="logo link color-main">Startup 3</a>
      </div>
      <div class="mb-50 mb-sm-0 col-lg-3 col-sm-6 order-2 order-lg-0" data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">
        <div class="mb-25 f-14 semibold text-uppercase sp-20 title">Address</div>
        <div class="color-heading text-adaptive">
          San Francisco, CA <br /> 
          560 Bush St &amp; 20th Ave, Apt <br /> 
          +1 555 687 12 54
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 order-3 order-lg-0" data-aos-duration="300" data-aos="fade-down" data-aos-delay="300">
        <div class="mb-25 f-14 semibold text-uppercase sp-20 title">Try Startup for Free</div>
        <div class="color-heading text-adaptive">
          Start a 14 Day Free Trial <br /> 
          on any of our paid plans. <br /> 
          No credit card required.
        </div>
      </div>
      <div class="mb-50 mb-lg-0 col-lg-3 col-sm-6 text-lg-right order-1 order-lg-0" data-aos-duration="300" data-aos="fade-down" data-aos-delay="450">
        <a href="#" class="btn action-2">Get Started</a>
      </div>
    </div>
  </div>
</footer>