<nav class="navigation_6 bg-light pt-30 pb-30 lh-40 text-center">
  <div class="container px-xl-0">
    <div class="row align-items-center">
      <div class="mb-10 mb-md-0 col-lg-3 col-md-4 text-md-left" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
        <%= link_to "SeedBooks", root_path, class: "logo link color-main" %>
      </div>
      <div class="col-lg-9 col-md-8 text-md-right" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
        <%= link_to "How it Works", pages_howitworks_path, class: "link color-main mr-15" %>
        <%= link_to "Pricing", pages_pricing_path, class: "link color-main mr-15" %>
        <%= link_to "FAQ", pages_faq_path, class: "link color-main mr-15" %>
        <a href="#" class="ml-15 btn sm action-3 f-16">Sign Up</a>
      </div>
    </div>
  </div>
</nav>