<section class="feature_26 bg-light pt-100 pb-100">
  <div class="container px-xl-0">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 col-md-5 col-sm-7" data-aos-duration="300" data-aos="fade-down" data-aos-delay="450">
        <%= image_tag "feature_26_img.jpg", class: "img-fluid radius10 img" %>  
      </div>
      <div class="col-lg-6 col-md-10">
        <h2 class="mt-40 mt-lg-0 mb-25" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">Greater Speed. <br /> Unmatched Accuracy.</h2>
        <div data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">       
        <div class="f-22 color-heading op-7 text-adaptive">
          Numbers matter. Businesses need accurate financials - FAST - in order to make smart,  timely decisions. Every Seedbooks bookkeeper works in tandem with a powerful tech stack to deliver you accurate numbers in near real-time.  <br />
          convenient prototyping of your projects. It <br />
          will fit most projects because it contains <br />
          <span class="text-nowrap">up-to-date</span> and modern web elements.
        </div>
        <a href="#" class="mt-30 mb-120 link action-3 f-18 medium op-7">
          Learn more about Startup <span class="text-nowrap">Framework <i class="fas fa-angle-right ml-10"></span></i>
        </a>
        </div>
        <div class="row justify-content-between">
          <div class="mb-40 mb-sm-0 col-sm-6 block" data-aos-duration="300" data-aos="fade-down" data-aos-delay="300">
            <div class="mb-20 f-14 semibold text-uppercase sp-20 title">Based on Bootstrap 4</div>
            <div class="color-heading text-adaptive">
              HTML layout is based on one of 
              the most common and reliable 
              framework - Bootstrap.
            </div>
          </div>
          <div class="mb-40 mb-sm-0 col-sm-6 col-xl-5 block" data-aos-duration="300" data-aos="fade-down" data-aos-delay="450">
            <div class="mb-20 f-14 semibold text-uppercase sp-20 title">HTML5 &amp; CSS3</div>
            <div class="color-heading text-adaptive">
              We used only time-tested 
              technologies for the best 
              results.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>