<section class="feature_3 bg-light pt-105 pb-70 text-center">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-9 col-lg-10">
        <h2 class="small" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">Why Startups Choose Us</h2>
        <div class="mt-25 mb-65 f-22 color-heading op-7 text-adaptive description">
          <span data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">          
          We have created a new product that will help designers, developers and 
          companies create websites for their startups quickly and easily.
          </span>         
        </div>
      </div>
    </div>

    <div class="row justify-content-center align-items-stretch">
      <div class="col-lg-4 col-md-8 col-sm-10 d-flex align-items-stretch">
        <div class="px-45 pt-50 pb-60 radius10 mb-30 block data-aos-duration="300" data-aos="fade-down" data-aos-delay="300"">
          <%= image_tag "i-clock.png", class: "fas fa-paint-brush f-20 action-2" %>  
          <div class="mt-20 mb-20 f-22 title">Saves you Time</div>
          <div class="color-heading op-7 text-adaptive">
            You started a business to make money, not to count it. Every minute 
            you spend on the books takes you away from the parts of your business 
            you care about most. When Seedbooks handles your bookkeeping, you have 
            more time to focus on the things in your business that really matter.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10 d-flex align-items-stretch">
        <div class="px-45 pt-50 pb-60 radius10 mb-30 block data-aos-duration="300" data-aos="fade-down" data-aos-delay="450"">
          <%= image_tag "i-moneybox.png", class: "fas fa-paint-brush f-20 action-2" %>  
          <div class="mt-20 mb-20 f-22 title">Saves you Money</div>
          <div class="color-heading op-7 text-adaptive">
            Straightforward, transparent, predictable pricing. No hidden nasties, 
            and no plus-plus. Like your business, our approach is scalable, so we grow 
            with you. You'll find we're more affordable than traditional 
            bookkeepers and many competitors.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10 d-flex align-items-stretch data-aos-duration="300" data-aos="fade-down" data-aos-delay="600"">
        <div class="px-45 pt-50 pb-60 radius10 mb-30 block">
          <%= image_tag "i-checkbox.png", class: "fas fa-paint-brush f-20 action-2" %>  
          <div class="mt-20 mb-20 f-22 title">Powerful, Reliable Insights</div>
          <div class="color-heading op-7 text-adaptive">
            Founded by chartered accountants and computer scientists who live 
            and breathe accounting, technology and entrepreneurship. Our founders 
            didn't just get into accounting to make money - they've been doing it for
            their entire careers. 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>