<section class="testimonial_3 bg-light pt-85 pb-25">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
        <h2 class="mb-55 small text-center">Testimonials</h2>
      </div>
    </div>
    <div class="row justify-content-center text-center text-lg-left">
      <div class="col-xl-1"></div>
      <div class="col-lg-1 mb-10" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
        <img srcset="i/testimonial_3_img_1@2x.jpg 2x" src="i/testimonial_3_img_1.jpg" class="img-fluid radius_full" alt="" />
      </div>
      <div class="col-xl-4 col-lg-5 col-md-8 col-sm-10 mb-60 block" data-aos-duration="300" data-aos="fade-down" data-aos-delay="100">
        <div class="color-heading f-18 medium text-adaptive">
          Extremely easy to use, helped us develop 
          our Vote for George Washington <span class="text-nowrap">micro-site</span> extremely quickly! We will 
          definitely use it again for other projects.
        </div>
        <div class="mt-20 f-14 semibold text-uppercase sp-20">Jasmine Andrews</div>
        <div class="color-heading">Microsoft</div>
      </div>
      <div class="col-lg-1 mb-10" data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">
        <img srcset="i/testimonial_3_img_2@2x.jpg 2x" src="i/testimonial_3_img_2.jpg" class="img-fluid radius_full" alt="" />
      </div>
      <div class="col-xl-4 col-md-8 col-sm-10 col-lg-5 mb-60 block" data-aos-duration="300" data-aos="fade-down" data-aos-delay="250">
        <div class="color-heading f-18 medium text-adaptive">
          Worth every penny, if you have basic 
          HTML knowledge. It helped us get an 
          exceptional landing page up and 
          running in no time.
        </div>
        <div class="mt-20 f-14 semibold text-uppercase sp-20">Austin Campbell</div>
        <div class="color-heading">Dropbox</div>
      </div>
      <div class="col-xl-1"></div>
      
      <div class="col-xl-1"></div>
      <div class="col-lg-1 mb-10" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
        <img srcset="i/testimonial_3_img_3@2x.jpg 2x" src="i/testimonial_3_img_3.jpg" class="img-fluid radius_full" alt="" />
      </div>
      <div class="col-xl-4 col-lg-5 col-md-8 col-sm-10 mb-60 block" data-aos-duration="300" data-aos="fade-down" data-aos-delay="100">
        <div class="color-heading f-18 medium text-adaptive">
          I've built my website with Startup just in 
          one day, and it was ready-to-go. Code is 
          clean and simple, easy to use by people 
          with almost any level of programming skills.
        </div>
        <div class="mt-20 f-14 semibold text-uppercase sp-20">Jennifer Otis</div>
        <div class="color-heading">Xcode</div>
      </div>
      <div class="col-lg-1 mb-10" data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">
        <img srcset="i/testimonial_3_img_4@2x.jpg 2x" src="i/testimonial_3_img_4.jpg" class="img-fluid radius_full" alt="" />
      </div>
      <div class="col-xl-4 col-md-8 col-sm-10 col-lg-5 mb-60 block" data-aos-duration="300" data-aos="fade-down" data-aos-delay="250">
        <div class="color-heading f-18 medium text-adaptive">
          As a business targeting high net worth 
          individuals, we were looking for a slick, 
          cool and minimalistic design for our website.
        </div>
        <div class="mt-20 f-14 semibold text-uppercase sp-20">Audrey Turner</div>
        <div class="color-heading">Apple</div>
      </div>
      <div class="col-xl-1"></div>
    </div>
  </div>
</section>