<section class="feature_26 bg-light pt-100 pb-100">
  <div class="container px-xl-0">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-md-10">
        <h2 class="mt-40 mt-lg-0 mb-25" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">Meet your Dedicated Accounting Expert</h2>
        <div data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">       
        <div class="f-22 color-heading op-7 text-adaptive">
          Startup is a powerful tool for quick and <br />
          convenient prototyping of your projects. It <br />
          will fit most projects because it contains <br />
          <span class="text-nowrap">up-to-date</span> and modern web elements.
        </div>
          <%= link_to "Get a pricing estimate instantly", pages_pricing_path, class: "mt-30 mb-120 link action-3 f-18 medium op-7" %>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-7" data-aos-duration="300" data-aos="fade-down" data-aos-delay="450">
        <%= image_tag "welcome-accountant.png", class: "img-fluid radius10 img" %> 
      </div>
    </div>
  </div>
</section>