<section class="pricing_table_6 bg-light pt-105 pb-100">
  <div class="container px-xl-0">
    <div class="row justify-content-center text-center">
      <div class="col-xl-6 col-lg-8 col-md-10">
        <h2 class="small" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">Simple Membership</h2>
        <div class="mt-10 mb-40 color-heading text-adaptive" data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">
          Use the Startup Framework for free with no limits.
        </div>
        <div class="d-flex align-items-center justify-content-center slider_menu" data-aos-duration="300" data-aos="fade-down" data-aos-delay="300">
          <div>Monthly</div>
          <a class="d-inline-block h-30 w-40 radius16 bg-action-1 relative mx-20 custom-toggle">
            <i class="bg-white radius_full absolute"></i>
          </a>
          <div>Yearly</div>
        </div>
      </div>
    </div>
    <div class="mt-60 slider">
      <!-- Slide -->
      <div>
        <div class="row justify-content-center">
          <div class="col-xl-4 col-lg-5 col-md-6 col-sm-9 d-flex align-items-stretch">
            <div class="radius10 pb-50 mb-70 mb-md-0 block" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
              <img srcset="i/pricing_table_6_img_1@2x.jpg 2x" src="i/pricing_table_6_img_1.jpg" class="img radius10 noradius_bottom" alt="" />
              <div class="mt-45 px-45 inner">
                <div class="mb-20 f-22 d-flex flex-wrap justify-content-between title">
                  <div>Starter</div>
                  <div>$19</div>
                </div>
                <div class="color-heading text-adaptive">
                  Unlimited recipes, plans, programs 
                  and more. All you need to make 
                  eating healthy ridiculously.
                </div>
                <a href="#" class="mt-35 btn w-full action-3 px-2">Get Started for Free</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5 col-md-6 col-sm-9 d-flex align-items-stretch">
            <div class="radius10 pb-50 block" data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">
              <img srcset="i/pricing_table_6_img_2@2x.jpg 2x" src="i/pricing_table_6_img_2.jpg" class="img radius10 noradius_bottom" alt="" />
              <div class="mt-45 px-45 inner">
                <div class="mb-20 f-22 d-flex flex-wrap justify-content-between title">
                  <div>Professional</div>
                  <div>$49</div>
                </div>
                <div class="color-heading text-adaptive">
                  Unlock powerful time-saving tools 
                  for creating beautiful meal plans 
                  and transform your wellness.
                </div>
                <a href="#" class="mt-35 btn w-full border-gray color-main px-2">Get Started for Free</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>